<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenzx.movie.mapper.commodity.CommodityManageMapper">

    <select id="getCommodityInfo" resultMap="getCommodityInfoMap">
        select i.id,
               i.name,
               c.author,
               c.content,
               c.time,
               s.name    as specifications_name,
               s.id      as specifications_id,
               s.unit_price,
               (select unit_price
                from mall_specifications
                where info_id = #{infoId}
                order by unit_price
                limit 1) as minimum_unit_price
        from mall_info as i
                 left join mall_comments as c on i.id = c.info_id
                 left join mall_specifications as s on i.id = s.info_id
        where i.id = #{infoId}
    </select>

    <resultMap id="getCommodityInfoMap" type="com.chenzx.movie.entity.commodity.CommodityInfo">
        <id column="id" property="mallId"/>
        <result column="name" property="name"/>
        <result column="minimum_unit_price" property="minimumUnitPrice"/>
        <collection property="comments" ofType="com.chenzx.movie.entity.commodity.CommodityComment">
            <result column="author" property="author"/>
            <result column="content" property="content"/>
            <result column="time" property="time"/>
        </collection>
        <collection property="specifications" ofType="com.chenzx.movie.entity.commodity.CommoditySpecifications">
            <id column="specifications_id" property="specificationsId"/>
            <result column="specifications_name" property="name"/>
            <result column="unit_price" property="unitPrice"/>
        </collection>
    </resultMap>

    <select id="getCommodityDesc" resultType="com.chenzx.movie.entity.commodity.CommodityDescribe">
        select i.id,
        i.sales_volume,
        i.name,
        image.id as base64Image,
        (select unit_price
        from mall_specifications
        where info_id = i.id
        order by unit_price
        limit 1) as unit_price
        from mall_info as i
        left join mall_image as image
        on image.info_id = i.id and image.is_main_graph = true
        left join mall_info_type as it on i.id = it.info_id
        left join mall_type as t on t.id = it.type_id and t.parent_id is not null
        <where>
            <if test="param.type != null">
                t.id = #{param.type}
            </if>
            <if test="param.name != null">
                and i.name like concat('%', #{param.name}, '%')
            </if>
        </where>
    </select>

    <select id="getShopCartContentByUser" resultMap="getShopCartContentByUserMap">
        select cart.commodity_id, info.name as comm_name, spec.unit_price, spec.name, spec.id, cart.total
        from mall_shopping_cart as cart
                 left join mall_info as info on cart.commodity_id = info.id
                 left join mall_specifications as spec on cart.specifications_id = spec.id
        where cart.user_id = #{id}
    </select>

    <resultMap id="getShopCartContentByUserMap" type="com.chenzx.movie.entity.commodity.ShopCartInfo">
        <result column="commodity_id" property="commodityId"/>
        <result column="comm_name" property="commodityName"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="name" property="specificationsName"/>
        <result column="id" property="specificationsId"/>
        <result column="total" property="total"/>
    </resultMap>


</mapper>
