<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenzx.movie.mapper.collection.CollectionMovieMapper">

    <resultMap id="CollectionMovieInfoMap" type="com.chenzx.movie.entity.collection.CollectionMovie">
        <id column="name" property="movieName"/>
        <result column="cast" property="cast"/>
        <result column="date" property="releaseDate"/>
        <result column="ratio" property="score"/>
        <collection property="type" ofType="java.lang.String">
            <result column="type"/>
        </collection>
    </resultMap>

    <select id="selectUserCollectionMovieInfo" resultMap="CollectionMovieInfoMap">
        select i.name, i.cast, i.date, i.ratio, type.name as type
        from sys_movie_collection as c
                 left join movie_info as i on c.movie_id = i.id
                 left join sys_user as u on c.user_id = u.id
                 left join movie_info_type as t on i.id = t.info_id
                 left join movie_type as type on t.type_id = type.id
        where u.id = #{id}
    </select>


</mapper>
